main {
    position: relative;
    min-height: 100vh;
    padding-bottom: $footer-height;
}


.navbar {
    background-color: $primary-background;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: white;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    outline: 0;
    box-shadow: none !important;
}

#main-public {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    #search-home-public {
        text-align: center;

        .show-picture {
            position: relative;

            img {
                height: 500px;
                width: 100vw;
                opacity: 0.7;
            }

            .content {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .text {
                    padding: 0 25px;
                }

                .search-bar-content {
                    padding: 0 20px;
                    max-width: 500px;
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        h2 {
            color: white;
        }

        h1 {
            color: white;
            font-weight:bold;
        }
        .list-group {
            display:block;
            position:absolute;
            width: 337.36px;
        }

        .list-public {
            position: relative;
            left: -337.36px;
            bottom: -37.03px;
        }
    }

    .my-form {
        width: 500px;
    }

}
#main-admin {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    #search-home-admin {

        .show-picture {
            position: relative;

            img {
                height: 500px;
                width: 100vw;
                opacity: 0.7;
            }

            .content {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .text {
                    padding: 0 25px;
                }

                .search-bar-content {
                    padding: 0 20px;
                    max-width: 500px;
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        h2 {
            color: white;
        }

        .list-group {
            display:block;
            position:absolute;
            width: 337.36px;
        }

        .list-admin {
            position: relative;
            left: -337.36px;
            bottom: -37.03px;
        }
    }
}
.my-form {
    background-color: $primary-background;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 16px 40px rgba(0,0,0,0.12);
    display: flex;

    .search-button {
        margin-left: 20px;
    }
}

#search-addresses-form-admin,
#search-addresses-form-public {
    display: flex;
    justify-content: center;
}

#create-form-apartment {
    #listAddresses {
        position: absolute;
    }
}

#update-form-apartment {
    #listAddresses {
        position: absolute;
    }
}
