.navbar {
    background-color: #282B29;
}

.navbar-brand {
    color: white;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: white;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    outline: 0;
    box-shadow: none !important;
}

.nav-link {
    color: white !important;
}


#main-public {
    background-image: url('https://cdn.wallpapersafari.com/58/87/8Dq5YV.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    #search-home-public {
        text-align: center;

        h1 {
            color: white;
            font-weight:bold;
        }
        .list-group {
            display:block;
            position:absolute;
            width: 377.36px;
        }

        .list-public {
            position: relative;
            left: -377.36px;
            bottom: -37.03px;
        }
    }

    .my-form {
        width: 500px;
    }

}
#main-admin {
    background-image: url('https://external-preview.redd.it/pHkCRkzD1_nLb2ik7v9U0HA12l_Hr1JSh4auGrFPiXY.jpg?auto=webp&s=3635fb966f38721f9c6c3e4a8cd380d8f3515755');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    #search-home-admin {
        h2 {
            color: white;


        }
        input{
            width: 450px;
        }
        .list-group {
            display:block;
            position:absolute;
            width: 450px;
        }

        .list-admin {
            position: relative;
            left: -450px;
            bottom: -37.03px;
        }
    }
}
.my-form {
    background-color: #282B29;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 16px 40px rgba(0,0,0,0.12);
    display: flex;

    .search-button {
        margin-left: 20px;
    }
}

#search-addresses-form-admin,
#search-addresses-form-public {
    display: flex;
    justify-content: center;
}
