// Body
$body-bg: #f8fafc; // Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6; // Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$color: #222222;

$medium-spacer: 1.5rem;

//media-query-breakpoints
$breakpoint-tablet: 768px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1200px;


//sponsored apartments --home
$padding-sponsored: 20px 0;
$title-margin-bottom: 30px;

$rows-margin: 25px;
$transitions-time: 0.3s;
$image-hover-filter: blur(2px) brightness(50%);

$address-size: 16px;
$address-margin: 30px;

$details-btn-padding: 8px 15px;
$details-btn-background: #FF6368;
$details-btn-color: white;
$details-btn-radius: 15px;

//Sponsor
$font-color: #FFFF;

$sponsor-container-padding: 20px 0;

$sponsor-h1-size: 30px;

$sponsor-row-padding: 95px 25px;;

$sponsor-bg-position: center;
$sponsor-bg-size: cover;
$sponsor-bg-repeat: no-repeat;

$sponsor-radio-padding: 5px 10px;
$sponsor-radio-bg: rgba(192, 183, 183, 0.8);
$sponsor-radio-check-color: hsla(150, 75%, 50%, 1);

$sponsor-circle-size: 24px;
$sponsor-circle-x-pos: 95%;
$sponsor-circle-height: 50px;
$sponsor-circle-x-width: 50px;
$sponsor-circle-x-bg: white;
$sponsor-circle-x-box: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);

$sponsor-btn-padding: 10px 20px;
$sponsor-btn-background: rgb(255, 255, 255);
$sponsor-btn-background-hover: rgb(240, 240, 240);
$sponsor-btn-color: black;
$sponsor-btn-radius: 3px;

$sponsor-border-radius: 5px;