// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito'); // Variables
@import 'variables'; // Bootstrap
@import '~bootstrap/scss/bootstrap';

main {
    background-image: url("https://previews.123rf.com/images/siraphol/siraphol1508/siraphol150803612/44023975-empty-sea-and-beach-background-with-copy-space.jpg");

    nav {
        height: 81px!important;

        .space {
            margin-right: 10px;
        }
    }
}

.form {
    position: relative;
    margin-left: 80px;
    width: 441px;
    height: 474px;
}
