.container.index {
    h1 {
        margin-bottom: $title-margin
    }

    .apartment-card {
        margin-bottom: $index-card-margin;
        padding: $index-card-padding;
        position: relative;
        border: $index-card-border;
        border-radius: $index-card-border-radius;
        transition: 0.2s;

        &:hover {
            border: $index-card-border-hover;
            transform: scale(1.01);
            background-color: rgba(192, 192, 192, 0.1);
        }

        .row {         
            
            .card-sez:not(:nth-child(even)) {
                margin-bottom: $index-card-img-margin;
            }

            .ap-img {
                margin-bottom: $index-card-img-margin;
                
                img {
                    width: 100%;
                    border: $index-card-border;
                }
            }

            .actions {
                .act-butt {
                    margin: $index-card-actions-margin;
                    display: inline-block;
                    color: $index-card-actions-color;
                    margin-left: 25px;
                    font-size: $index-card-actions-size-tbl;
                    transition: 0.2s;

                    &:hover {
                        transform: scale(1.1);
                    }

                    &#details-button:hover {
                        color: lightgreen;
                    }

                    &#edit-button:hover {
                        color: yellow;
                    }

                    &#delete-button:hover {
                        color: red;
                    }
                }

                form {
                    display: inline-block;
                    
                    .del-btn {
                        #send-form {
                            background: none;
                            border:none;
                        }
                    }
                }
            }
        }

        .sponsor-btn {
            position: absolute;
            top: -2%;
            right: -3%;
            transform: translateY(-50%);

            img {
                width: 65px;
                transition: 0.2s;

                &#not-spons {
                    filter: grayscale(100%);

                    &:hover {
                        filter: grayscale(0);
                        transform: scale(1.1);;
                    }
                }
            }
        }
    }

    @media screen and (min-width: $breakpoint-tablet) {
        .apartment-card {
            .row {
                img.md {
                    width: $index-card-img-width-lg;
                    border-radius: $index-card-img-radius-lg;                }

                .actions {
                    .act-butt.tbl {
                        font-size: $index-card-actions-size-tbl;
                        display: block;
                    }
                }
            }
        }
    }
    
    @media screen and (min-width: $breakpoint-large) {
        .apartment-card {
            .row {  
                .ap-img {

                    img.lg {
                        width: $index-card-img-width-lg;
                        border-radius: $index-card-img-radius-lg;
                    }
                }
            }   
        }   
    }
}