.page-footer {
    background-color: #282B29;
    color: white;
    li a {
        color: white !important;
    }
}

footer {
    margin-top: 50px;
}
li a {
    color: s !important;
}

.low_left {
    a::after{
        margin-left: 4px;
        position: absolute;
        top: 25%;
         content: ".";
    }
    a:last-child::after {
        content: "";
    }
    a {
        color: white !important;
        margin-left: 8px;
    }
}
.low_right {
    a {
        margin-left: 10px;
        color: $color !important;
    }
}
