@media screen and (max-width: $breakpoint-smartphone) {
    body > main > div.container > div > button {
        width: 300px;
        margin-left: 25px;
    }

    #searchByFiltersFormPublic {
        flex-wrap: wrap!important;
        justify-content: space-around!important;
    }

    #val-radius-input {
        width: 89px;
    }

    #searchByFiltersFormPublic > div.col-3 {
        height: 100px;
        display: contents !important;
    }

    #searchByFiltersFormPublic > div:nth-child(5) {
        height: 100px!important;
        display: table !important;
    }

    #searchByFiltersFormPublic > div.col-3 > h4 {
        margin-left: 20px;
        height: 50px!important;
        position: absolute;
    }

    #radius {
        width: 70px;
        position: relative;
        top: 5px;
    }

    #val-radius-input {
        position: relative;
        top: 143px;
        height: 20px;
    }

    #searchByFiltersFormPublic > div:nth-child(6) {
        height: 100px!important;
        display: table !important;
    }
}

#sponsored-searched-apts,
.searched-all {
    margin: 20px 0 30px;

    .search-apartment-st {
        transition: 0.5s;
        cursor: pointer;

        &.flip {
            transform: rotateY(180deg);
        }

        .search-apartment-img {
            img {
                width: 100%;
            }

            &.add-filter {
                filter: $image-hover-filter;
            }

            .ad-alert {
                position: absolute;
                bottom: 5%;
                left: 2%;
                font-size: 16px;
                border: 1px solid #ffbf00;
                border-radius: 5px;
                margin-left: 5px;
                padding: 3px;
                color: #ffbf00;
                background-color: rgba(255, 191, 0, 0.2);
                z-index: 5;
            }
        }

        .sponsored-searched-img {
            img {
                border-radius: 5px;
            }
        }

        .search-apartment-info {
            position: absolute;
            bottom: 15%;
            left: 10%;
            z-index: 2;
            color: white;
            display: none;

            &.show-info {
                display: block;
                transform: rotateY(180deg);
            }
        }
    }
}
