.container-fluid {
    padding: $sponsor-container-padding;

    h1 {
        font-size: $sponsor-h1-size;
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .h1-tablet, .h1-lg {
        display: none;
    }

    .row {
        //background-image: url("https://images.pexels.com/photos/2394446/pexels-photo-2394446.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        @include background($sponsor-bg-position, $sponsor-bg-size, $sponsor-bg-repeat);
        padding: $sponsor-row-padding;
        width: 100%;
        margin: 0;

        #payment-form {

            .input-label {
                color: $font-color;
                font-weight: bold;
            }

            .amount-wrapper {
                color: $font-color;

                .amount-ad{
                    display: block;
                    margin: 30px 0;
                    font-size: 18px;
                }
            }

            input[type="radio"] {
                display: none;

                & ~ label {
                    background: $sponsor-radio-bg;
                    border-radius: $sponsor-border-radius;
                    padding: $sponsor-radio-padding;
                    transition: 0.5s;
                    position: relative;
                }

                & ~ label:hover {
                    cursor: pointer;
                    background: $sponsor-radio-check-color
                }

                &:checked + label {
                    background: $sponsor-radio-check-color;
                    color: hsla(215, 0%, 100%, 1);
                    box-shadow: 0px 0px 12px hsla(150, 100%, 50%, 0.75);
                    border-radius: $sponsor-border-radius;
                    padding: $sponsor-radio-padding;

                    &::after {
                    content: "\f00c";
                    color: hsla(215, 5%, 25%, 1);
                    font-family: FontAwesome;
                    border: 2px solid $sponsor-radio-check-color;
                    position: absolute;
                    top: -25px;
                    transform: translateX(-50%);
                    line-height: 50px;
                    text-align: center;
                    border-radius: 50%;
                    @include circle-check($sponsor-circle-size,$sponsor-circle-x-pos,$sponsor-circle-height,$sponsor-circle-x-width,$sponsor-circle-x-bg,$sponsor-circle-x-box);
                    }
                }
            }

            .spons-button {
                border: 0;
                @include button($sponsor-btn-padding, $sponsor-btn-background, $sponsor-btn-color, $sponsor-btn-radius);
                cursor: not-allowed;
                transition: 0.2s;

                &.allowed {
                    cursor: pointer;

                }

                &:hover {
                    transform: scale(0.99);
                    background-color: $sponsor-btn-background-hover;
                }
            }

        }

        .braintree-dropin {
            line-height: 0;
        }

        .braintree-sheet--has-error .braintree-sheet__error {
            padding-bottom: 12px;


            .braintree-sheet__error-text {
                font-size: 8px;
            }
        }
    }
}

@media screen and (min-width: $breakpoint-tablet) {
    .h1-sm {
        display: none;
    }

    .h1-tablet {
        display: block;
        max-width: 100%;
    }

    .row.tablet {
        background-image: url("https://images.pexels.com/photos/439227/pexels-photo-439227.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    }
}

@media screen and (min-width: $breakpoint-large) {
    .container-fluid {
        .h1-sm {
            display: none;
        }

        .h1-lg {
            display: block;
            max-width: 55%;
        }

        .row.lg {
            background-image: url("https://images.pexels.com/photos/271816/pexels-photo-271816.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
        }
    }
}
